<head></head>
<body>
    <div class="bulk">
        <h1>Stats</h1>

        <button routerLink="/adventure">Return to the Adventure</button>

        <div>
            <h4>User Data:</h4>
            <p>Endurance: {{endurance}}</p>
            <p>Strength: {{strength}}</p>
            <p>Gold: {{gold}}</p>
        </div>
        
        <div>
            <h4>Running:</h4>
            <p>Average Distance: {{runDistance | number:'.3-3'}} Km</p>
            <p>Average Time: {{runTime | date:'HH:mm:ss'}}</p>
            <p>Number of Runs Recorded: {{runNumber}}</p>
            <p>Number of successful runs until next stat increase: {{4 - runSuccess}}</p>
        </div>

        <div>
            <h4>Swimming:</h4>
            <p>Average Distance: {{swimDistance | number:'.3-3'}} Km</p>
            <p>Average Time: {{swimTime | date:'HH:mm:ss'}}</p>
            <p>Number of Swims Recorded: {{swimNumber}}</p>
            <p>Number of successful swims until next stat increase: {{4 - swimSuccess}}</p>
        </div>

        <div>
            <h4>Biking:</h4>
            <p>Average Distance: {{bikeDistance | number:'.3-3'}} Km</p>
            <p>Average Time: {{bikeTime | date:'HH:mm:ss'}}</p>
            <p>Number of Bike rides Recorded: {{bikeNumber}}</p>
            <p>Number of successful bike rides until next stat increase: {{4 - bikeSuccess}}</p>
        </div>

        <div>
            <h4>Weight Lifting:</h4>
            <p>Average Weight: {{weightWeight | number:'.3-3'}}</p>
            <p>Average Reps: {{weightReps | number:'.3-3'}}</p>
            <p>Average Sets: {{weightSets | number:'.3-3'}}</p>
            <p>Number of Weight Lifting Sessions Recorded: {{weightNumber}}</p>
            <p>Number of successful weight lifting sessions until next stat increase: {{4 - weightSuccess}}</p>
        </div>

        <div>
            <h4>Push Ups:</h4>
            <p>Average Reps: {{pushReps | number:'.3-3'}}</p>
            <p>Average Sets: {{pushSets | number:'.3-3'}}</p>
            <p>Number of Push Up Sessions Recorded: {{pushNumber}}</p>
            <p>Number of successful push up sessions until next stat increase: {{4 - pushSuccess}}</p>
        </div>

        <div>
            <h4>Sit Ups:</h4>
            <p>Average Reps: {{sitReps | number:'.3-3'}}</p>
            <p>Average Sets: {{sitSets | number:'.3-3'}}</p>
            <p>Number of Sit Up Sessions Recorded: {{sitNumber}}</p>
            <p>Number of successful sit up sessions until next stat increase: {{4 - sitSuccess}}</p>
        </div>

        <div>
            <h4>Chin Ups:</h4>
            <p>Average Reps: {{chinReps | number:'.3-3'}}</p>
            <p>Average Sets: {{chinSets | number:'.3-3'}}</p>
            <p>Number of Chin Up Sessions Recorded: {{chinNumber}}</p>
            <p>Number of successful chin up sessions until next stat increase: {{4 - chinSuccess}}</p>
        </div>
    </div>
</body>