<head></head>

<body>
    <div class="bulk">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Stats</span>
            <div *ngIf="!collapsed" class="bg-dark navigation">
                <button routerLink="/home" type="button" class="btn btn-outline-primary">Return Home</button>
                <button routerLink="/adventure" type="button" class="btn btn-outline-primary">Training
                    Adventure</button>
                <button routerLink="/combat" type="button" class="btn btn-outline-primary">Combat Adventure</button>
                <br>
                <button type="button" (click)="help()" class="btn btn-outline-primary">Help</button>
            </div>
            <button (click)="collapsed = !collapsed" class="navbar-toggler toggle-button" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="content">

            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-outline-primary changeCat" (click)="catDown()">&#60;</button>
                    </div>
                    <div class="col-6">
                        <h5 class="text-center">{{category[index]}}:</h5>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-primary changeCat" (click)="catUp()">&#62;</button>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'User Data'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Endurance:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{endurance}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Strength:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{strength}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Gold:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{gold}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Running'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Distance:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{runDistance | number:'.3-3'}} Km</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Time:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{runTime | date:'HH:mm:ss'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Runs Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{runNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Runs Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - runSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Swimming'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Distance:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{swimDistance | number:'.3-3'}} Km</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Time:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{swimTime | date:'HH:mm:ss'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Swims Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{swimNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Swims Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - swimSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Biking'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Distance:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{bikeDistance | number:'.3-3'}} Km</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Time:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{bikeTime | date:'HH:mm:ss'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Bike Rides Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{bikeNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Bike Rides Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - bikeSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Weight Lifting'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Weight:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{weightWeight | number:'.0-0'}} lbs</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Reps:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{weightReps | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sets:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{weightSets | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Weight Lifting Sessions Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{weightNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Weight Lifting Sessions Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - weightSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Push Ups'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Reps:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{pushReps | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sets:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{pushSets | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Push Up Sessions Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{pushNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Push Up Sessions Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - pushSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Sit Ups'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Reps:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{sitReps | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sets:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{sitSets | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sit Up Sessions Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{sitNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sit Up Sessions Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - sitSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="category[index] == 'Chin Ups'">
                <div class="container">
                    <div class="row">
                        <div class="col-7">
                            <p><b>Reps:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{chinReps | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Sets:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{chinSets | number:'.0-0'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Chin Up Sessions Recorded:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{chinNumber}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <p><b>Chin Up Sessions Until Stat Increase:</b></p>
                        </div>
                        <div class="col-5 data">
                            <p>{{4 - chinSuccess}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>