<head></head>

<body>
    <div class="bulk">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Training</span>
            <div *ngIf="!collapsed" class="bg-dark p-4">
                <div *ngIf="!fighting">
                    <button routerLink="/home" type="button" class="btn btn-outline-primary">Return Home</button>
                    <button routerLink="/combat" type="button" class="btn btn-outline-primary">Combat Adventure</button>
                    <button routerLink="/stats" type="button" class="btn btn-outline-primary">View Stats</button>
                </div>
            </div>
            <button (click)="collapsed = !collapsed" class="navbar-toggler toggle-button" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="content">
            <div *ngIf="firstRun">
                <p class="text-center">Looks like you have not gone on a run yet. Your averages will be calculated once you start training.</p>
                <br>
                <p><b>Endurance:</b> {{playerEndurance}}</p>
                <p><b>Strength:</b> {{playerStrength}}</p>
                <p><b>Gold:</b> {{playerGold}}</p>
            </div>
            <div *ngIf="!firstRun">
                <p><b>Average Distance:</b> {{averageDistance | number:'.3-3'}} Km</p>
                <p><b>Average Time:</b> {{averageTime | date:'HH:mm:ss'}}</p>
                <br>
                <p><b>Endurance:</b> {{playerEndurance}}</p>
                <p><b>Strength:</b> {{playerStrength}}</p>
                <p><b>Gold:</b> {{playerGold}}</p>
            </div>
            <button class="btn btn-outline-primary" routerLink="/tracker">New Tracked Expedition</button> <br>
            <button class="btn btn-outline-primary" routerLink="/forms">Report Untracked Expedition</button> <br>
        </div>
    </div>
</body>
<router-outlet></router-outlet>