<head></head>
<body>
    <div class="bulk">
        <h1>Adventure Page</h1>
        <br>
        <div *ngIf="firstRun">
            <p>Looks like you have not gone on a run yet. Your averages will be calculated once you start training.</p>
            <br>
            <p>Endurance: {{playerEndurance}}</p>
            <p>Strength: {{playerStrength}}</p>
            <p>Gold: {{playerGold}}</p>
        </div>
        <div *ngIf="!firstRun">
                <p>Average Distance: {{averageDistance | number:'.3-3'}} Km</p>
                <p>Average Time:  {{averageTime | date:'HH:mm:ss'}}</p>
                <br>
                <p>Endurance: {{playerEndurance}}</p>
                <p>Strength: {{playerStrength}}</p>
                <p>Gold: {{playerGold}}</p>
            </div>
        <button routerLink="/tracker">New Tracked Expedition</button> <br>
        <button routerLink="/forms">Report Untracked Expedition</button> <br>
        <button routerLink="/stats">View Stats</button> <br>
        <button routerLink="/home">Return Home</button> <br>
    </div>
</body>
<router-outlet></router-outlet>