<head></head>

<body>
    <div class="bulk">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Training</span>
            <div *ngIf="!collapsed" class="bg-dark navigation">
                <div *ngIf="!fighting">
                    <button routerLink="/home" type="button" class="btn btn-outline-primary">Return Home</button>
                    <button type="button" class="btn btn-outline-secondary">Training Adventure</button>
                    <button routerLink="/combat" type="button" class="btn btn-outline-primary">Combat Adventure</button>
                    <button routerLink="/stats" type="button" class="btn btn-outline-primary">View Stats</button>
                </div>
            </div>
            <button (click)="collapsed = !collapsed" class="navbar-toggler toggle-button btn btn-outline-primary" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="content">
            <button class="exercisebtn btn btn-primary navbutton" routerLink="/tracker">New Tracked Expedition</button> <br>
            <button class="exercisebtn btn btn-success navbutton" routerLink="/forms">Report Untracked Expedition</button> <br>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <button type="button" (click)="help()" class="btn btn-outline-primary helpButton">?</button>
      </nav>
</body>
<router-outlet></router-outlet>