<head>
    <link href="././assets/css-circular-prog-bar.css" rel="stylesheet">
</head>

<body>
    <div class="bulk">

        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Tracking</span>
            <button (click)="collapsed = !collapsed" class="navbar-toggler toggle-button" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!-- <p *ngIf="!tracking">tracker is off!</p>
        <p *ngIf="tracking">tracker is on!</p> -->
        <div class="content">
            <button class="btn btn-outline-primary" (click)="toggleTracking()" *ngIf="!tracking">Start Tracking</button>
            <button class="btn btn-outline-primary" (click)="toggleTracking()" *ngIf="tracking">Stop Tracking</button>
            <p><b>Distance travelled: </b> {{currentDistance | number:'.3-3'}} km</p>
            <p><b>Time Elapsed:</b> {{time | date:'HH:mm:ss'}}</p>
            <div *ngIf="savedLatitude">
                <p><b>Current Latitude:</b> {{savedLatitude}}</p>
                <p><b>Current Longitude:</b> {{savedLongitude}}</p>
            </div>
            <div *ngIf="!savedLatitude">
                <p><b>Current Latitude:</b> Obtaining...</p>
                <p><b>Current Longitude:</b> Obtaining...</p>
            </div>

            <div *ngIf="!tracking">
                <button class="btn btn-outline-primary" routerLink="/adventure" (click)="saveData()">End Your
                    Adventure</button>
            </div>
            <div *ngIf="tracking &&( goal > 0)" class="container">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-center"><b>Progress to Goal</b></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div *ngIf="goalPercentage <= 50" class="progress-circle p{{goalPercentage| number:'.0-0'}}">
                            <span>{{goalPercentage| number:'.0-0'}}%</span>
                            <div class="left-half-clipper">
                                <div class="first50-bar"></div>
                                <div class="value-bar"></div>
                            </div>
                        </div>
                        <div *ngIf="goalPercentage > 50"
                            class="progress-circle over50 p{{goalPercentage| number:'.0-0'}}">
                            <span>{{goalPercentage| number:'.0-0'}}%</span>
                            <div class="left-half-clipper">
                                <div class="first50-bar"></div>
                                <div class="value-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</body>