<head></head>

<body>
    <div class="bulk">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Combat</span>
            <div *ngIf="!collapsed" class="bg-dark navigation">
                <div *ngIf="!fighting">
                    <button routerLink="/home" type="button" class="btn btn-outline-primary" (click)="saveData()">Return
                        Home</button>
                    <button routerLink="/adventure" type="button" class="btn btn-outline-primary"
                        (click)="saveData()">Training Adventure</button>
                    <button routerLink="/stats" type="button" class="btn btn-outline-primary" (click)="saveData()">View
                        Stats</button>
                </div>
            </div>
            <button (click)="collapsed = !collapsed" *ngIf="!fighting" class="navbar-toggler toggle-button btn btn-outline-primary" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button (click)="collapsed = !collapsed" *ngIf="fighting" class="navbar-toggler toggle-button btn btn-outline-danger" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="content">
            <div *ngIf="dailyAdventure">
                <div *ngIf="!fighting" class="container">
                    <div class="row">
                        <div class="col-9">
                            <p class="text-left"><b>Current Health:</b></p>
                        </div>
                        <div class="col-3">
                            <p class="text-right">{{yourHealth}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <p class="text-left"><b>Current Energy:</b></p>
                        </div>
                        <div class="col-3">
                            <p class="text-right">{{yourEnergy}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <p class="text-left"><b>Gold earned this expedition:</b></p>
                        </div>
                        <div class="col-3">
                            <p class="text-right">{{earnedGold}}</p>
                        </div>
                    </div>
                    <button *ngIf="yourHealth > 0" (click)="getEnemy()" class="btn btn-outline-primary">Get a new enemy
                        to fight!</button>
                </div>
                <div *ngIf="fighting">
                    <div class="container">
                        <div class="">
                            <div class="row">
                                <div class="col-6">
                                    <img src="././assets/M.png" alt="Enemy" class="yourIcon align-left">
                                </div>
                                <div class="col-6">
                                    <img src="././assets/{{enemyName}}.png" alt="Enemy" class="enemyIcon  align-right">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5>You</h5>
                                <p class="text-left"><b>Health:</b> {{yourHealth}}</p>
                                <p class="text-left"><b>Energy:</b> {{yourEnergy}}</p>
                            </div>
                            <div class="col-6">
                                <h5 class="text-center">{{enemyName}}</h5>
                                <p class="text-right"><b>Health:</b> {{enemyHealth}}</p>
                                <p class="text-right"><b>Energy:</b> {{enemyEnergy}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="slidecontainer">
                        <input type="range" min="0" max="{{yourEnergy}}" value="0" class="slider"
                            [(ngModel)]="attackPower">
                        <button *ngIf="attackPower == 0" (click)="action()">Defend!</button>
                        <button *ngIf="attackPower > 0" (click)="action()">Attack! for {{attackPower}}</button>
                        <div *ngIf="battleMessage">
                            <p class="battleMessage">{{battleMessage}}</p>
                        </div>
                    </div>


                </div>
            </div>
            <div *ngIf="!dailyAdventure">
                <h5 class="text-center">You have already gone on an adventure today!</h5>
                <p class="text-center">You can go on another adventure in tomorrow!</p>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <button type="button" (click)="help()" class="btn btn-outline-primary helpButton">?</button>
      </nav>
</body>
<router-outlet></router-outlet>