<head></head>

<body>
    <div class="bulk">
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1 center">Combat</span>
            <div *ngIf="!collapsed" class="bg-dark navigation">
                <div *ngIf="!fighting">
                    <button routerLink="/home" type="button" class="btn btn-outline-primary" (click)="saveData()">Return
                        Home</button>
                    <button routerLink="/adventure" type="button" class="btn btn-outline-primary"
                        (click)="saveData()">Training Adventure</button>
                    <button type="button" class="btn btn-outline-secondary">Combat Adventure</button>
                    <button routerLink="/stats" type="button" class="btn btn-outline-primary" (click)="saveData()">View
                        Stats</button>
                </div>
            </div>
            <button (click)="collapsed = !collapsed" *ngIf="!fighting" class="navbar-toggler toggle-button btn btn-outline-primary" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button (click)="collapsed = !collapsed" *ngIf="fighting" class="navbar-toggler toggle-button btn btn-outline-danger" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="content">
            <div *ngIf="dailyAdventure">
                <div *ngIf="!fighting" class="container">
                    <div class="row table">
                        <div class="col-7">
                            <p class="text-left stat"><b>Current Health:</b></p>
                        </div>
                        <div class="col-3">
                            <img src="././assets/heart.png" alt="heart" class="icons align-right">
                        </div>
                        <div class="col-2">
                            <h5 class="text-right stat">{{yourHealth}}</h5>
                        </div>
                    </div>
                    <div class="row table">
                        <div class="col-7">
                            <p class="text-left stat"><b>Current Energy:</b></p>
                        </div>
                        <div class="col-3">
                            <img src="././assets/energy.png" alt="Energy" class="icons align-right">
                        </div>
                        <div class="col-2">
                            <h5 class="text-right stat">{{yourEnergy}}</h5>
                        </div>
                    </div>
                    <div class="row table">
                        <div class="col-7">
                            <p class="text-left stat"><b>Gold earned this expedition:</b></p>
                        </div>
                        <div class="col-3">
                            <img src="././assets/gold.png" alt="Gold" class="icons align-right">
                        </div>
                        <div class="col-2 stat">
                            <h5 class="text-right">{{earnedGold}}</h5>
                        </div>
                    </div>
                    <button *ngIf="yourHealth > 0" (click)="getEnemy()" class="fightbtn btn btn-primary">Get a new enemy
                        to fight!</button>
                </div>
                <div *ngIf="fighting">
                    <div class="container">
                        <div class="">
                            <div class="row">
                                <div class="col-12">
                                    <img src="././assets/background.png" alt="background" class="background">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <img src="././assets/M.png" alt="Enemy" class="yourIcon align-left float">
                                </div>
                                <div class="col-6">
                                    <img src="././assets/{{enemyName}}.png" alt="Enemy" class="enemyIcon  align-right float">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="text-left">You</h5>
                                <p class="text-left"><img src="././assets/heart.png" alt="heart" class="iconsmall"> <b>{{yourHealth}}</b></p>
                                <p class="text-left"><img src="././assets/energy.png" alt="Energy" class="iconsmall"> <b>{{yourEnergy}}</b></p>
                            </div>
                            <div class="col-6">
                                <h5 class="text-right">{{enemyName}}</h5>
                                <p class="text-right"><b>{{enemyHealth}}</b><img src="././assets/heart.png" alt="heart" class="iconsmall"></p>
                                <p class="text-right"><b>{{enemyEnergy}}</b><img src="././assets/energy.png" alt="Energy" class="iconsmall"></p>
                            </div>
                        </div>
                    </div>


                    <div class="slidecontainer">
                        <input type="range" min="0" max="{{yourEnergy}}" value="0" class="slider"
                            [(ngModel)]="attackPower">
                        <button *ngIf="attackPower == 0" (click)="action()" type="button" class="btn btn-outline-primary">Defend!</button>
                        <button *ngIf="attackPower > 0" (click)="action()" type="button" class="btn btn-outline-primary">Attack! for {{attackPower}}</button>
                        <div *ngIf="battleMessage">
                            <p class="battleMessage">{{battleMessage}}</p>
                        </div>
                    </div>


                </div>
            </div>
            <div *ngIf="!dailyAdventure">
                <h5 class="text-center">You have already gone on an adventure today!</h5>
                <p class="text-center">You can go on another adventure tomorrow!</p>
                <p><img src="././assets/knight-idle-2.gif" alt="idle" class="center"></p>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <button type="button" (click)="help()" class="btn btn-outline-primary helpButton">?</button>
      </nav>
</body>
<router-outlet></router-outlet>