/* You can add global styles to this file, and also import other style files */

html, body { height: 80%; }

.navigation{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bulk {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.header{
    height: 5%;
}
.input{
    float: right;
    color: #ffffff
}

body { 
    margin: 0; 
    font-family:"Luminari", fantasy; 
    background-color: #e5e7e6;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.content{
  margin-top: 40%;
}

h1 {
    text-align: center;
}

button{
    width: 100%;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
    background-color: #344042;
    border: 2px solid black;
}

select{
    width: 100%;
    background-color: #344042;
    border: 2px solid black;
    color: #ffffff
}

input{
    background-color: #344042;
    border: 2px solid black;
    color: #ffffff
}

.align-left{
    float: left;
}
  
.align-right{
    float:right;
}
  
.text-right{
    text-align: right;
}
  
.text-center{
    text-align: center;
}
  
.text-left{
    text-align: left;
}

.progressLabel{ 
    text-align: center;
    margin-top: 10%;
    }
  
  .progress-bar{
    color: #ffffff;
    background-color: #5e0003;
    border: solid #000000;
    
  }
  .progress{
    height: 25px;
    background-color:#344042;
    margin-top: 5px;
    margin-bottom:10px;
  }
  
  .percentageLabel{
    color:#ffffff; 
    text-align: center; 
    width: 90%;
    height: 25px;
    margin-top:3px;
    position: absolute;
    z-index: 2;
  }

  .helpButton{
    width: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .btn:hover {
    background-color: inherit;
    color: inherit;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
  }