.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progressLabel{ 
  text-align: center;
  margin-top: 10%;
  }

.progress-bar{
  color: #ffffff;
  background-color: #5e0003;
  border: solid #000000;
  
}
.progress{
  height: 25px;
  background-color:#344042;
  margin-top: 5px;
  margin-bottom:10px;
}

.progressButton{
  width: 100%;
}

.helpButton{
  width: 20%;
}

.align-left{
  float: left;
}

.align-right{
  float:right;
}

.icon{
  margin-top: 40%;
  margin-bottom: 5%;
}