.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progressLabel{ 
  text-align: center;
  margin-top: 20%;
  }

.progressButton{
  position: absolute; 
  bottom: 15px;
  width: 90%;
}

.labelContainer{
  width: 150px;
  height: 188px;
}

.align-left{
  float: left;
}

.align-right{
  float:right;
}

.icon{
  margin-top: 40%;
  margin-bottom: 5%;
}